<?xml version="1.0"?>
<config>
    <modules>
        <Datadrivendesign_Knowledgebase>
            <version>0.1.0</version>
        </Datadrivendesign_Knowledgebase>
    </modules>
    <frontend>
        <routers>
            <knowledgebase>
                <use>standard</use>
                <args>
                    <module>Datadrivendesign_Knowledgebase</module>
                    <frontName>knowledgebase</frontName>
                </args>
            </knowledgebase>
        </routers>
        <layout>
            <updates>
                <knowledgebase>
                    <file>knowledgebase.xml</file>
                </knowledgebase>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<knowledgebase>
				<use>admin</use>
				<args>
					<module>Datadrivendesign_Knowledgebase</module>
					<frontName>knowledgebase</frontName>
				</args>
			</knowledgebase>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<knowledgebase module="knowledgebase">
				<title>Knowledgebase</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="knowledgebase">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>knowledgebase/adminhtml_knowledgebase</action>
					</items>
				</children>
			</knowledgebase>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<Datadrivendesign_Knowledgebase>
											<title>Knowledgebase Module</title>
											<sort_order>10</sort_order>
										</Datadrivendesign_Knowledgebase>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<knowledgebase>
					<file>knowledgebase.xml</file>
				</knowledgebase>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <knowledgebase>
                <class>Datadrivendesign_Knowledgebase_Model</class>
                <resourceModel>knowledgebase_mysql4</resourceModel>
            </knowledgebase>
            <knowledgebase_mysql4>
                <class>Datadrivendesign_Knowledgebase_Model_Mysql4</class>
                <entities>
                    <knowledgebase>
                        <table>knowledgebase</table>
                    </knowledgebase>
                </entities>
            </knowledgebase_mysql4>
        </models>
        <resources>
            <knowledgebase_setup>
                <setup>
                    <module>Datadrivendesign_Knowledgebase</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </knowledgebase_setup>
            <knowledgebase_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </knowledgebase_write>
            <knowledgebase_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </knowledgebase_read>
        </resources>
        <blocks>
            <knowledgebase>
                <class>Datadrivendesign_Knowledgebase_Block</class>
            </knowledgebase>
        </blocks>
        <helpers>
            <knowledgebase>
                <class>Datadrivendesign_Knowledgebase_Helper</class>
            </knowledgebase>
        </helpers>
    </global>
</config>